<%- include("header") -%> 

<h2>
    This is about page
</h2>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis voluptatem beatae pariatur sequi earum id accusantium, facere tempora recusandae, animi delectus corrupti sapiente suscipit rerum nulla porro aliquid excepturi aperiam.
    Neque, doloremque? Natus perspiciatis vero laborum dolorem ut voluptates eveniet beatae alias recusandae aspernatur earum sed iure eos rerum, aliquam voluptate velit. Nihil labore quasi dolores dolore accusamus, aliquid sequi.
    Accusantium aliquam itaque molestias fugiat aut voluptas iste, hic eius atque praesentium temporibus porro amet officiis fuga enim perspiciatis voluptatibus possimus labore natus recusandae dolores totam delectus. Voluptatem, maxime deserunt!
    Earum quia cupiditate qui aspernatur repellendus aut alias dolorem est modi atque ipsa veritatis numquam recusandae cumque obcaecati, deserunt iure commodi, nihil nobis porro! Illo suscipit repellat enim at atque!
    Velit ipsa quae, amet earum beatae sint nobis, magnam magni quis pariatur iste assumenda commodi totam qui laboriosam nisi incidunt modi. Dolores nesciunt aliquid minus eos delectus blanditiis, dicta reiciendis?
</p>

<%- include("footer") -%> 