<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List ✅</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand"
    />
    <link rel="stylesheet" href="css/login-signup.css" />
  </head>

  <body>
    <div class="form-modal">
      <div class="form-toggle">
        <button id="login-toggle" onclick="toggleLogin()">log in</button>
        <button id="signup-toggle" onclick="toggleSignup()">sign up</button>
      </div>

      <div id="login-form">
        <form action="/login" method="post">
          <input type="text" placeholder="Enter email or username" name="username"/>
          <input type="password" placeholder="Enter password" name="password"/>
          <button type="submit" class="btn login">login</button>
          <p><a href="javascript:void(0)">Forgotten account</a></p>
          <hr />
          <button type="button" class="btn -box-sd-effect">
            <i class="fa fa-google fa-lg" aria-hidden="true"></i> sign in with
            google
          </button>
          <button type="button" class="btn -box-sd-effect">
            <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i> sign in with
            linkedin
          </button>
          <button type="button" class="btn -box-sd-effect">
            <i class="fa fa-windows fa-lg" aria-hidden="true"></i> sign in with
            microsoft
          </button>
        </form>
      </div>

      <div id="signup-form">
        <form action="/register" method="post">
          <input type="email" placeholder="Enter your email" name="email"/>
          <input type="text" placeholder="Choose username" name="username"/>
          <input type="password" placeholder="Create password" name="password"/>
          <button type="submit" class="btn signup">create account</button>
          <p>
            Clicking <strong>create account</strong> means that you are agree to
            our <a href="javascript:void(0)">terms of services</a>.
          </p>
          <hr />
          <button type="button" class="btn -box-sd-effect">
            <i class="fa fa-google fa-lg" aria-hidden="true"></i> sign up with
            google
          </button>
          <button type="button" class="btn -box-sd-effect">
            <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i> sign up with
            linkedin
          </button>
          <button type="button" class="btn -box-sd-effect">
            <i class="fa fa-windows fa-lg" aria-hidden="true"></i> sign up with
            microsoft
          </button>
        </form>
      </div>
    </div>
    <script>
      function toggleSignup() {
        document.getElementById("login-toggle").style.backgroundColor = "#fff";
        document.getElementById("login-toggle").style.color = "#222";
        document.getElementById("signup-toggle").style.backgroundColor =
          "#a683e3";
        document.getElementById("signup-toggle").style.color = "#fff";
        document.getElementById("login-form").style.display = "none";
        document.getElementById("signup-form").style.display = "block";
      }

      function toggleLogin() {
        document.getElementById("login-toggle").style.backgroundColor =
          "#a683e3";
        document.getElementById("login-toggle").style.color = "#fff";
        document.getElementById("signup-toggle").style.backgroundColor = "#fff";
        document.getElementById("signup-toggle").style.color = "#222";
        document.getElementById("signup-form").style.display = "none";
        document.getElementById("login-form").style.display = "block";
      }
    </script>

<%- include("footer") -%> 
