@import url("https://fonts.googleapis.com/css?family=Montserrat|Quicksand");

* {
  font-family: "quicksand", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html {
  background-color: #eae9fd;
  background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #eae9fd 50%);
  min-height: 1000px;
  max-height: 100vh;
  max-width: 100vw;
  font-family: "helvetica neue";
  background-repeat: no-repeat;
}

h1 {
  color: #fff;
  padding: 10px;
}

.mainHeading {
  display: flex;
  justify-content: center;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #a683e3;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f1f1f1;
  padding: 2%;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #a683e3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

.taskDetails {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dateOfCompletion,.tags {
  font-size: 13px;
  font-weight: 100;
}

.tags{
  font-size: 15px;
  font-weight: 150;
}

form.item {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-left: 20px;
}

.inputsOfTask {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.completionDate {
  height: 5%;
  width: 75%;
  margin-top: 2%;
}

#add_task {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #a683e3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #a683e3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

#tags {
  font-size: 15px;
  font-weight: 150;
  width: 250px;
  margin-top: 0.1%;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  color: rgb(0, 0, 0);
  color: rgb (0, 0, 0, 0.5);
  text-align: center;
}

.wrapper {
  text-align: center;
}

#Work_list_button_login {
  margin-bottom: 1rem;
  text-align: center;
  background-color: #fff;
  min-height: 50px;
  width: 200px;
  border-radius: 10%;
  border-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 22px;
  padding-bottom: 6px;
  border-width: 0;
}

#Work_list_button {
  margin-bottom: 1rem;
  text-align: center;
  background-color: #fff;
  min-height: 50px;
  width: 150px;
  border-radius: 10%;
  border-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 22px;
  padding-bottom: 6px;
  border-width: 0;
}

#Work_list_button:hover {
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}
